.sidebar {
    width: 272px;
    height: 100vh;
    background-color: #fff;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

.navigationContainer {
    /* border: 1px solid green; */
    /* padding: 1em; */
}

.navigationContainer h1 {
    text-align: left;
    font-family: "Gotham", sans-serif;
    color: rgba(0, 72, 173, 1);
    margin-bottom: .5em;
}

.navigationList {
    width: 100%;
    list-style: none;
    /* border: 1px solid green; */
}

.navItem {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    font-size: .9em;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
}

.navItem:first-child {
    background-color: rgba(224, 237, 255, 1);
    font-weight: 500;
}

.upgradeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(224, 237, 255, 1);
    padding: 2em 1em;
    border-radius: 8px;
}

.upgradeContainer h5 {
    font-size: 1em;
}

.upgradeContainer p {
    font-size: 10px;
    color: rgba(71, 83, 103, 1);
}