@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid red; */
}

.blueButton {
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 72, 173, 1);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}